.git/
.github/
.venv/
.vscode/
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
site/
*.md
!README.md
data/
*.db
tests/
mise.toml
.pre-commit-config.yaml
.python-version
renovate.json
release-please-config.json
.release-please-manifest.json
